[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/lunarmodules/luafilesystem.git
[submodule "luaunit"]
	path = luaunit
	url = https://github.com/bluebird75/luaunit.git
[submodule "lua-zlib"]
	path = lua-zlib
	url = https://github.com/brimworks/lua-zlib
[submodule "lua-cjson"]
	path = lua-cjson
	url = https://github.com/openresty/lua-cjson.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/luarocks/argparse.git
[submodule "Crossline"]
	path = Crossline
	url = https://github.com/SuSonicTH/Crossline.git
